<% if @product.errors.any? %>
  <div id="errors">
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for build_product(@product, params[:all]), builder: @form_builder do |f| %>
  <%= render layout: 'products/steps/layout', locals: {f: f} do %>
    <%= render @partial, f: f %>
  <% end %>
<% end %>
